{% load i18n humanize %}

<div id="article-meta">

  <div class="panel panel-default">

    <div class="panel-heading"><h4>Meta</h4></div>
    
    <div class="panel-body">
      
      <p><strong>{% trans 'Published' %}</strong>: {{ article.publish_date|naturalday }}</p>

      <p><strong>{% trans 'Author' %}</strong>: <a href="{% url 'articles_by_author' article.author.name %}" title="{% trans 'Read other articles by this author' %}">{{ article.author.name }}</a></p>

      <p><strong>{% trans 'Word Count' %}</strong>: {{ article.word_count|intcomma }}</p>

      {% if article.get_next_article %}
        <p>
          <strong>{% trans 'Next' %}</strong>:
          <a href="{{ article.get_next_article.get_absolute_url }}">{{ article.get_next_article.title }}</a>
        </p>
      {% endif %}

      {% if article.get_previous_article %}
      <p>
          <strong>{% trans 'Previous' %}</strong>:
          <a href="{{ article.get_previous_article.get_absolute_url }}">{{ article.get_previous_article.title }}</a>
      </p>
      {% endif %}
    </div>
  </div>


</div>


